.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
}

#status,#diningroom,#bedroom,#tvroom,#fruits,#kitchen
{
font-size: 30px;
}
body{
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

canvas{
    box-shadow: 10px 10px 10px blue;
    border-radius: 15px;
}
#diningroom,#bedroom,#tvroom,#fruits,#kitchen{
    font: 20px;
}
